*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-style: normal;
}

:root {
  --bg-color: #f9f8ff;
  --text-color: #080020;
  --accent-color: #4000ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121026;
    --text-color: #e0e0ff;
    --accent-color: #7e53ff;
  }
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 1.25;
}

body {
  border-top: 3rem solid #571fff;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-bottom: 0.5rem;
  display: grid;
  place-content: center;
}

.title {
  margin-bottom: -1rem;
}

.sub-title {
  color: var(--accent-color);
}

.information,
.experience,
.formation,
.languages {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  max-width: 1280px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.text-xxl {
  font-size: 2rem;
}

.text-xl {
  font-size: 1.5rem;
}

.text-l {
  font-size: 1.25rem;
}

.text-m {
  font-size: 1rem;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.contact-link:hover {
  transform: scale(1.1) translateX(1.25rem);
  transition: transform 0.2s ease-in-out;
}

.job-info,
.formation-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.bullets {
  padding-top: 1rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bullet-item {
  max-width: 80ch;
}

.bullet-item strong {
  color: var(--accent-color);
}

.bullet-item strong {
  color: var(--accent-color);
}
